*

!.gitignore

!README.md

!/Logica
/Logica/*
!/Logica/*.tex
!/Logica/*/*.pdf

!/Sucesiones
/Sucesiones/*
!/Sucesiones/*.tex
!/Sucesiones/*/*.pdf

!/Sumatorio
/Sumatorio/*
!/Sumatorio/*.tex
!/Sumatorio/*/*.pdf
