*

!.gitignore

!README.md

!/Logica
/Logica/*
!/Logica/*.tex
!/Logica/build/*.pdf

!/Sucesiones
/Sucesiones/*
!/Sucesiones/*.tex
!/Sucesiones/build/*.pdf

!/Sumatorio
/Sumatorio/*
!/Sumatorio/*.tex
!/Sumatorio/build/*.pdf
