*

!.gitignore

!README.md

!/Logica
!/Logica/*.tex
/Logica/build/*
!/Logica/build/*.pdf

!/Sucesiones
!/Sucesiones/*.tex
/Sucesiones/build/*
!/Sucesiones/build/*.pdf

!/Sumatorio
!/Sumatorio/*.tex
/Sumatorio/build/*
!/Sumatorio/build/*.pdf
